<div class="well">
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><span class="label label-danger"><%= pluralize(@project.errors.count, "error") %> during project creation</span></h2>
  <div class="error-reasons">
      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
      </ul>
    </div>
  <% end %>

<div class="well">
  <div class="field">
    <%= f.text_field :name, class:'form-control', id:'short-form', placeholder:'Project name' %>
  </div>
  <br>
  <div class="field">
    <%= f.text_area :description, class:'form-control', placeholder:'Brief description...' %>
  </div>
  <br>
  <div class="field">
    <%= f.text_area :who, class:'form-control', placeholder:'Who\'s involved...' %>
  </div>    
  <br>
  <div class="field">
    <%= f.text_area :how, class:'form-control', placeholder:'How others can become involved...' %>
  </div>
  <br>
  <% if :created_at.nil? %>
  <% else %>
    <%= f.hidden_field :editor, value: current_user.username %>
  <% end %>
    
    <%= f.submit 'Submit', class:'btn btn-primary btn-sm btn-submit'%>

<% end %>
