<div class="container">

  <div class="row">

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" >

        <span class="list-group-item active update-title">
          Project  
          <span class="float-right">
            Updated
          </span>
        </span>
      <ul class="list-group">
      <div class='word-break'>
      <% @projects.order('latest_updated DESC').each do |project| %>

       <a href="/projects/<%= project.id %>" class="list-group-item">
          <div class="reduce">
          <strong><%= project.name %></strong>

        <span class="label label-default" id="time-ago">
            <% updated = project.updates.order('created_at DESC').first %>
            <% if project.updates.empty? %>
            No updates
            <% else %>
            <%= time_ago_in_words(updated.created_at) %>    
               by 
          <%= updated.who %>
          
            <% end %>
      </div>
        </span>
       </a>
          <% end %> 
      </ul>
        <div class="btn-group">
        <% if current_user %>
        <%= link_to 'Create Project', new_project_path, class:'btn btn-primary btn-sm' %>
        <% else %>
        <%= link_to 'Create Project', new_sessions_path, class:'btn btn-primary btn-sm' %>
       <!--  <%= link_to 'Log in to create a project!', new_sessions_path %> -->
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
      <!-- Mission area -->
      <div class="well">
      <strong>Welcome to the Project Tracker MVP!</strong>
      <br>
        Our goal is to create a way for LAB Miami members to see what's going on in the LAB. You can create a listing for a LAB project you are currently working on, or read about other projects going on! Users can now watch a project to view a filtered updates feed.
      <br>
      <br>
        - In Project Tracker, a project is anything that takes work.
      </div>

      <div class="well" >
        <strong>Known issues:</strong>
        <br>
        Usernames are case sensitive
        <br>
      </div>
    </div>
  </div>
</div>