


<div class="container">

  <div id="notice-box">
    <span id="notice" ><%= notice %></span>
  </div>

  <div class="row">

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" >

        <p>

          <h2 class="project-title"><%= @project.name %></h2>
          <%= @project.description %>
        </p>

        <p>   
          <h4><u>Currently on this project:</u></h4>
          <%= @project.who %>
        </p>

        <p>

          <h4><u>How to get involved:</u></h4>
          <%= @project.how %>
        </p>

          <%= link_to 'Edit Project', edit_project_path(@project), class:'btn btn-primary btn-sm' %>

          <%= link_to 'Remove Project', @project, method: :delete, data: { confirm: 'Are you sure you want to delete this Project?' }, class:'btn btn-primary btn-sm'  %>

          <span id="project-edited">
            Edited <%= time_ago_in_words(@project.updated_at) %> ago.
            <span>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="well flow">
        <p class="center lead"><strong>Updates</strong></p>
        <%= render 'updates/form' %>

        <% @project.updates.reverse.each do |update| %>
        <div class="list-group">
          <span class="list-group-item active">
          <%= time_ago_in_words(update.created_at)%>
          ago by
          <em><%= update.who %></em>  
          </span>    
          <div class="well">
          <div center="center">
          <%= simple_format h update.description %>
         </div>
          </div>
          <%= link_to 'Edit', edit_update_path(update), class:'btn btn-warning btn-xs' %>
          <%= link_to 'Remove', update, method: :delete, data: { confirm: 'Are you sure you want to delete this update?' }, class:'btn btn-danger btn-xs' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>


