<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @watching.project %>
</p>

<p>
  <strong>User:</strong>
  <%= @watching.user %>
</p>

<%= link_to 'Edit', edit_watching_path(@watching) %> |
<%= link_to 'Back', watchings_path %>
