<%= form_for(@update) do |f| %>
<% if @update.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@update.errors.count, "error") %> prohibited this update from being saved:</h2>

  <ul>
    <% @update.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div id="update-form">
  <p>
    <div class="field">
      <%= f.text_area :description, class:'form-control', placeholder:'Post an update...', id:'postText' %>
    </div>
  </p>
    <div class="field">
      <%= f.hidden_field :who, value: current_user.username %>
  </div>
  <% if @project.nil? %>
  <% else %>
  <div class="field">
    <%= f.hidden_field :project_id, value: @project.id %>
  </div>
  <% end %>

      <% @project.latest_updated = Time.now %>  
      <% @project.save %>
      
  <div class="actions btn-group">
    <%= f.submit 'Submit', class:'btn btn-primary btn-sm btn-l hidden can-hide' %>
  </div>
</div>
<br>

<% end %>