<h1>Current Updates</h1>

    <% @updates.reverse.each do |update| %>
    <div class="list-group">
  <a href="projects/<%= update.project.id %>" class="list-group-item active">
    <%= update.project.name %>
  </a>
  <div class="well">
    <span class="update-description"><%= update.description %>
</span>
    <% t = update.created_at %>
    <p class="update-who">Posted by:<%= update.who %> 
    on 
    <%= t.strftime("%b, %d %I:%M %p") %></p>
  
  </div>
</div>

    <% end %>