<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @update.project.name %>
</p>

<p>
  <strong>Who:</strong>
  <%= @update.who %>
</p>

<p>
  <strong>Description:</strong>
  <%= @update.description %>
</p>



<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back to Updates', updates_path %>
<%= link_to 'Project Page', @update.project %>
